@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}
    
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    height: 96vh;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100vw;
    background-color: rgb(30, 30, 30);
    height: 50px;
    line-height: 50px;
}
    
.header {
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.feedback {
    justify-content: flex-end;
}



.rawmarksInput {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

}
    
.rawmarkscontainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 99vh;
    width: fit-content;
    gap: 50px;
}

.subject1, 
.subject2, 
.subject3, 
.subject4,
.subject5, 
.subject6 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subject1 .inputs, 
.subject2 .inputs, 
.subject3 .inputs, 
.subject4 .inputs,
.subject5 .inputs, 
.subject6 .inputs {
    width: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px 10px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}


input, select, .wam, .aligned, .band, .scaled, .atar{
    background-color: rgb(39, 39, 39);
    color: rgb(255, 249, 241);
    border-radius: 4px;
    padding: 2px;
    outline-color: rgb(206, 206, 206);
    outline-width: 1px;
    border: none;
    width: 160px;
    height: 30px;
    font-size: 15px;
}



input {
    box-sizing: border-box;
    width: 75px;
    padding-left: 7px;
}

.wam, .aligned, .band, .scaled, .atar {
    box-sizing: border-box;
    padding: 5px;
    vertical-align: middle;
}

.tooltip {
    align-self: end;
    gap: 20px;
    display: flex;
    align-items: flex-end; 
    height: 80px;
}
  
  .tooltip .tooltiptext {
    display: none;
    width: 500px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    font-size: 13px;
  }
  
  .tooltip:hover .tooltiptext {
    display: block;
  }

.questionmark {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 100px;
    justify-self: flex-end;
}

.supportedsubjects {
    color: rgba(255, 255, 255, 0.658);
    width: 75vw;
    font-size: 12px;
}

a {
    color: rgb(183, 183, 183);
}

.main {
    width: 70vw;
}

p {
    color: rgb(199, 199, 199);
    line-height: 1.3;
}

h1, h3 {
    color: rgb(218, 218, 218);
}

.calculationcontent, .otherinfocontent {
    margin-top: 50px;
}